@charset "utf-8";

@import url('https://rsms.me/inter/inter-display.css');
@import url('https://rsms.me/inter/inter.css');

@font-face {
    src: url('BradleyInitialsDJR-Regular_COLRv1_Beta.woff2') format("woff2"),
         url('BradleyInitialsDJR-Regular_COLRv1_Beta.woff') format("woff");
    font-family: 'Bradley Initials';
}

:root {
    --font-heading: 'InterDisplay var';
    --font-body: 'Inter';
    --color-heading: hsl(72deg 86% 28%);
    --color-blue: #0070f3;
    --color-blue-light: #deedff;
    --color-dark-gray: #303030;
    --color-medium-gray: #363A3E;
    --color-light-gray: #ccc;
}

::selection {
    background-color: var(--color-blue);
    color: #fff;
}

:focus-visible {
    color: #0070f3;
    background-color: var(--color-blue-light);
    outline: none;
}

:target {
    animation: flash-bg 1.5s;
    animation-timing-function: ease-in-out;
}

:target::after {
    content: "â† you are here";
    font-size: 60%;
    margin-left: 10px;
    font-weight: normal;
    opacity: 0.7;
    font-family: 'Inter';
}

@media screen and (prefers-reduced-motion:reduce) {
    html {
        scroll-behavior: auto !important;
    }

    * {
        transition: 0s;
        animation-duration: 0s !important;
    }
}

@keyframes flash-bg {
    from {
        background: yellow;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }

      50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
      }

      to {
        background: transparent;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }
}

@media screen and (max-width: 788px) {
    section {
        display: revert !important;
        margin: 0 10% 3em !important;
    }

    aside {
        position: initial !important;
    }

    h1 {
        font-size: 10vw !important;
        line-height: 10vw !important;
    }

    aside > p:last-of-type {
        flex-direction: row !important;
        overflow-x: scroll !important;
        margin-bottom: 10px;
    }

    aside p::-webkit-scrollbar {
        background: #fff;
        height: 8px;
        border-radius: 10px
    }

    aside p::-webkit-scrollbar-thumb {
        background: #ddd;
        border-radius: 100px;
    }

    aside p::-webkit-scrollbar-thumb:hover {
        background: grey;
        border-radius: 150px;
    }

    .tags {
        margin-right: 6px !important;
    }

    .copy {
        margin-left: 0 !important;
    }
}

@media screen and (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }

    body {
        background: var(--color-dark-gray) !important;
    }

    h2 {
        color: #eee;
    }

    #article > p, #article > span, aside > p:first-of-type {
        color: var(--color-light-gray) !important;
    }

    .tags {
        background-color: var(--color-medium-gray) !important;
        color: var(--color-light-gray);
    }

    aside p::-webkit-scrollbar {
        background: #3c3c3c;
        height: 8px;
        border-radius: 10px;
    }

    aside p::-webkit-scrollbar-thumb {
        background: #aaa;
        border-radius: 100px;
    }

    aside p::-webkit-scrollbar-thumb:hover {
        background: #ccc;
        border-radius: 150px;
    }

    .tags:hover {
        color: #ddd !important;
        background-color: #4e4e4e !important;
    }

    header {
        background: url(images/trekking-image-upscaled-grayscale.avif) center top no-repeat !important;
        background-size: cover !important;
        position: absolute !important;
    }

    h1 {
        color: var(--color-medium-gray) !important;
    }

    @keyframes flash-bg {
        from {
            background: var(--color-light-gray);
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
          }

          50% {
            -webkit-transform: scale3d(1.05, 1.05, 1.05);
            transform: scale3d(1.05, 1.05, 1.05);
          }

          to {
            background: transparent;
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
          }
    }
}

@media screen and (prefers-color-scheme: dark) and (min-width: 1280px) {
    header {
        background: url(images/trekking-image-upscaled-grayscale-cropped.avif) center top no-repeat !important;
        background-size: cover !important;
        position: absolute !important;
    }
}

@media screen and (prefers-color-scheme: light) and (min-width: 1280px) {
    header {
        background: url(images/trekking-image-upscaled-cropped.avif) center top no-repeat !important;
        background-size: cover !important;
        position: absolute !important;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    background: #fff;
    margin: 0;
    transform-style: flat;
    overflow-x: hidden;
}

header {
    width: 100vw;
    height: 80vh;
    top: 0;
    left: auto;
    background: url(images/trekking-image-upscaled.avif) center top no-repeat;
    background-size: cover;
    position: absolute;
}

a {
    color: inherit;
}

h1 {
    -webkit-mask: url(images/trekking-mask.png) center top no-repeat;
    -webkit-mask-size: cover;
    font-variation-settings: "wght" 600;
    font-weight: 200;
    width: 100vw;
    height: 80vh;
    color: var(--color-heading);
    margin: 0;
    font-size: 80px;
    letter-spacing: -0.02em;
    line-height: 105%;
    position: relative;
    user-select: none;
}

h1 span {
    position: fixed;
    display: inline-block;
    padding: 5vh 0 0 25vw;
    transition: margin 1s ease-in-out;
}

h1, h2 {
    font-family: var(--font-heading), 'Inter Display';
}

h2 {
    font-variation-settings: "wght" 750;
    font-size: 35px;
    margin-bottom: 0;
}

section {
    padding-top: 85vh;
    margin: 0 18% 3em;
    font-size: 1.2em;
    z-index: 1;
    color: #333;
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    align-items: start;
    gap: 2em;
}

.dropcaps:first-letter {
    font-size: 4.05em;
    font-family: "Bradley Initials";
    letter-spacing: -30px;
    float: left;
    margin-left: -1.5rem;
    margin-right: 1.5rem;
    line-height: 6.2rem;
}

#article :where(a) {
    text-decoration: underline;
    text-decoration-color: gray;
    text-decoration-thickness: 2px;
    text-underline-offset: 0.5px;
    color: #ffffff;
}

h2 > span > a {
    text-decoration: none !important;
}

aside {
    position: sticky;
    top: 15px;
}

aside > p {
    margin-bottom: -10px;
}

aside > p:first-of-type {
    margin-top: 0;
}

p {
    font-size: 18px;
    line-height: 1.4;
    font-family: var(--font-body);
    font-feature-settings: "cv05";
}

a:hover {
    color: #0070f3;
}

.copy {
    font-weight: 400;
    font-size: 80%;
    cursor: pointer;
    margin-left: -38px;
    user-select: none;
    opacity: 0.5;
    transition: 0.2s;
}

.copy:hover {
    opacity: 1;
}

#article > span {
    font-family: var(--font-body);
    font-weight: 500;
    opacity: 0.6;
}

.tags {
    padding: 8px;
    background-color: #ecf5ff;
    border-radius: 16px;
    font-size: 90%;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 10px;
}

.tags:hover {
    color: #0070f3;
    background-color: var(--color-blue-light);
}

/*.tags:not(:first-of-type) {
    margin-left: 10px;
}*/

aside > p:last-of-type {
    position: relative;
    top: 5px;
    font-size: 90%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

body,
h1 {
    transition: -webkit-transform 1.5s ease-out;
}

h1::before {
    position: absolute;
    content: ' ';
    width: inherit;
    height: inherit;
    background: url(images/trekking-mask.png) center top no-repeat;
    background-size: cover;
    opacity: 0;
    transition: transform 1.5s ease-out, opacity .5s ease-out;
}