@charset "utf-8";

@import url('https://rsms.me/inter/inter-display.css');
@import url('https://rsms.me/inter/inter.css');

:root {
    --font-heading: 'InterDisplay var';
    --font-body: 'Inter';
    --color-heading: hsl(72deg 86% 28%);
    --color-blue: #0070f3;
    --color-blue-light: #deedff;
}

::selection {
    background-color: var(--color-blue);
    color: #fff;
}

:focus-visible {
    color: #0070f3;
    background-color: var(--color-blue-light);
    outline: none;
}

:target {
    animation: yellowflash-bg 1.5s;
}

@media screen and (prefers-reduced-motion:reduce) {
    * {
        transition: 0s;
        animation: none;
    }
}

@keyframes yellowflash-bg {
    0% {
        background: #ff0
    }

    to {
        background: 0 0
    }
}

@media (max-width: 788px) {
    section {
        display: revert !important;
        margin: 0 10% 3em !important;
    }

    aside {
        position: initial !important;
    }

    h1 {
        font-size: 10vw !important;
        line-height: 10vw !important;
    }

    aside > p:last-of-type {
        flex-direction: row !important;
        overflow-x: scroll !important;
        margin-bottom: 10px;
    }

    aside p::-webkit-scrollbar {
        background: #fff;
        height: 8px;
        border-radius: 10px
    }

    aside p::-webkit-scrollbar-thumb {
        background: #ddd;
        border-radius: 100px;
    }

    aside p::-webkit-scrollbar-thumb:hover {
        background: grey;
        border-radius: 150px;
    }

    .tags {
        margin-right: 6px !important;
    }

}

body {
    background: #fff;
    margin: 0;
    transform-style: flat;
    overflow-x: hidden;
}

header {
    width: 100vw;
    height: 80vh;
    top: 0;
    left: auto;
    background: url(images/trekking-image.jpg) center top no-repeat;
    background-size: cover;
    position: absolute;
}

h1 {
    -webkit-mask: url(images/trekking-mask.png) center top no-repeat;
    -webkit-mask-size: cover;
    font-variation-settings: "wght" 600;
    font-weight: 200;
    width: 100vw;
    height: 80vh;
    color: var(--color-heading);
    margin: 0;
    font-size: 80px;
    letter-spacing: -0.02em;
    line-height: 105%;
    position: relative;
    user-select: none;
}

h1 span {
    position: fixed;
    display: inline-block;
    padding: 5vh 0 0 25vw;
    transition: margin 1s ease-in-out;
}

h1, h2 {
    font-family: var(--font-heading), 'Inter Display';
}

h2 {
    font-variation-settings: "wght" 750;
    font-size: 35px;
    margin-bottom: 0;
}

section {
    padding-top: 85vh;
    margin: 0 18% 3em;
    font-size: 1.2em;
    z-index: 1;
    color: #333;
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    align-items: start;
    gap: 2em;
}

section > div > p:first-of-type:first-letter {
    font-size: 4.5em;
    font-weight: bold;
    font-family: var(--font-heading), 'Inter';
    text-transform: uppercase;
    float: left;
    margin-right: 1rem;
    line-height: 6rem;
}

aside {
    position: sticky;
    top: 0;
}

aside > p {
    margin-bottom: -10px;
}

aside > p:first-of-type {
    margin-top: 0;
}

p {
    font-size: 18px;
    line-height: 1.4;
    font-family: var(--font-body);
    font-feature-settings: "cv05";
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #0070f3;
}

#article > span {
    font-family: var(--font-body);
    font-weight: 500;
    opacity: 0.6;
}

.tags {
    padding: 8px;
    background-color: #ecf5ff;
    border-radius: 15px;
    font-size: 90%;
    display: inline-block;
    margin-bottom: 10px;
}

.tags:hover {
    background-color: var(--color-blue-light);
}

/*.tags:not(:first-of-type) {
    margin-left: 10px;
}*/

aside > p:last-of-type {
    position: relative;
    top: 5px;
    font-size: 90%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

body,
h1 {
    transition: -webkit-transform 1.5s ease-out;
}

h1::before {
    position: absolute;
    content: ' ';
    width: inherit;
    height: inherit;
    background: url(images/trekking-mask.png) center top no-repeat;
    background-size: cover;
    opacity: 0;
    transition: transform 1.5s ease-out, opacity .5s ease-out;
}

.explain {
    perspective: 1100px;
    /* Only set perspective on HTML when needed or it interferes with position:fixed and masking */
}

.explain h1::before {
    transition-delay: 1s;
    z-index: -1;
    opacity: 0.75;
}

.explain h1 span:hover {
    margin: 70px 0 0 0;
}

.explain body {
    transform: rotateY(20deg) rotateX(4deg) scale(0.9);
    transform-style: preserve-3d;
}

.explain header {
    perspective: 900px;
    transform-style: preserve-3d;
}

.explain h1 {
    transform: translateZ(100px);
}